/* ALL PAGES */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffff !important;
    font-family: 'Roboto Serif', sans-serif;
}

/*Overrides the color of the active state class tag in bootstrap*/
.navbar-nav, .active{
    color: #CBB129 !important;
}

body, html{
    height: 100%;
    margin: 0;
    background-color: #002B4A;
}

.navbar{
    background-color: #000000;
    color: #ffff;
}

/* HOME PAGE */

.background-image{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/IMG_3334.jpg);
    height: 50%;
}

.greeting{
    height: 40%;
    width: 100%;
}

.greeting-content{
    height: max-content;
}

.btn:hover{
    background-color: #000000;
    border: none;
}

a{
    text-decoration: none;
}

/* CONTACT ME */

.main-contact{
    /* width: auto;
    height: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-contact{
    background-color: #002B4A;
    border-color: #002B4A;
}

.contact-card{
    background-color: #000000;
    border-radius: 25px;
    border: none;
}

.input-group-text{
    color: #000000 !important;
}

.card-body{
    margin: 10 10 10 10;
    border-radius: 25px;
}

input, textarea{
    color: #000000 !important ;
}