@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white !important;
    font-family: 'Roboto Serif', sans-serif;
}

/*Overrides the color of the active state class tag in bootstrap*/
.navbar-nav, .active{
    color: #CBB129 !important;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: #002B4A;
}

.navbar{
    background-color: black;
    color: white;
    border-bottom: solid;
}

.main-content{
    color: black;
}

.left-side{
    width: 50%;
    height: 90vh;
}

.right-side{
    width: 50%;
    height: 90vh;
}

.greeting{
    height: 90vh;
}

/* .Welcome{
    font-weight: 500 ;
} */

.btn{
    background-color: black;
}